@font-face{
    font-family:'Nanum Gothic',sans-serif;
}
*{
    font-family:'Nanum Gothic',sans-serif;
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    min-width: 300px;
    width: 100%;
    height: 100%;
}
.body_container_Mob{
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    height: 100%;
    background-color: #fff;
}
.body_container_Mob .header{
    display:flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height:100%;
}
.body_container_Mob .header .underline{
    width:100%;
    height:1px;
    background-color: #f1f1f5;
}
.body_container_Mob .header .header_upper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}
.body_container_Mob .header .header_upper .instaA{
    width: 50px;
    height: 50px;
}
.body_container_Mob .header .header_upper div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}
.body_container_Mob .header .header_upper div a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.body_container_Mob .header .header_upper .logo{
    width:auto;
    height:100%;
}
.body_container_Mob .header .header_upper div img{
    height: 80%;
    object-fit: cover;
}
.body_container_Mob .header .header_lower{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
.body_container_Mob .header .header_lower a{
    display:flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    cursor: pointer;
}
.body_container_Mob .header .header_lower a span{
    color:#000000;
    font-size: 14px;
    font-weight: 550;
}
.body_container_Mob .header .header_lower #area_header{
    display:flex;
    height: 100%;
    cursor: default;
}
.body_container_Mob .header .header_lower #area_header #area_span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color:#000000;
    font-size: 14px;
    font-weight: 550;
}
.body_container_Mob .header .header_lower #area_div{
    display:none;
    align-items: center;
    justify-content: space-around;
    top:100px;
    left:0;
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    border: solid;
    border-width: 1px;
    border-color: #eee;
    z-index: 2;
}
.body_container_Mob .container{
    min-width: 300px;
    width:100%;
    height:100%;
}
.body_container_Mob .banner{
    width:100%;
    height: 100%;
}
.body_container_Mob .banner .img_container{
    display: flex;
    overflow: hidden;
    width:100%;
    height: 100%;
}
.body_container_Mob .banner .img_container .bannerBox{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 100%;
    float: left;
    transition: 0.6s;
}
.body_container_Mob .banner .img_container .bannerBox img{
    width: 100%;
    height: 250px;
    object-fit: fill;
}
.body_container_Mob .area_part{
    display: flex;
    flex-direction: column;
    height: 240px;
}
.body_container_Mob .area_part .upper{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height:60px;
    padding-left: 10px;
}
.body_container_Mob .area_part .upper span{
    color:#000;
    font-size: 16px;
    font-weight: 530;
}
.body_container_Mob .area_part .lower{
    display: flex;
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
    flex-wrap: nowrap;
    overflow: hidden;
}
.body_container_Mob .area_part .lower .slider{
    display: flex;
    width: 100%;
    overflow: auto;
    scroll-snap-type: x mandatory;
}
.body_container_Mob .area_part .lower .slider::-webkit-scrollbar{
    display: none;
}
.body_container_Mob .area_part .lower .slider .area{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 150px;
    height: 100%;
    scroll-snap-align: center;
    margin: 0 10px;
}
.body_container_Mob .area_part .lower .slider .area div{
    width:120px;
    height:120px;
    border-radius: 120px;
    background-color: grey;
    overflow: hidden;
}
.body_container_Mob .area_part .lower .slider .area div img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.body_container_Mob .area_part .lower .slider .area span{
    font-size: 14px;
    font-weight: 530;
    margin-top: 10px;
}
.body_container_Mob .best_inter{
    display: flex;
    flex-direction: column;
    height: 430px;
    margin-bottom: 20px;
}
.body_container_Mob .best_inter .upper{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height:50px;
    padding: 0 10px;
}
.body_container_Mob .best_inter .upper span{
    color:#000;
    font-size: 16px;
    font-weight: 530;
    margin-right: 8px;
}
.body_container_Mob .best_inter .upper a{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.body_container_Mob .best_inter .upper a .more{
    font-size: 14px;
}
.body_container_Mob .best_inter .upper img{
    width: 20px;
    height: 20px;
    object-fit: fill;
}
.body_container_Mob .best_inter .lower{
    display: flex;
    width: 100%;
    height: calc(100% - 80px);
}
.body_container_Mob .best_inter .lower .slider{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    overflow: auto;
    scroll-snap-type: x mandatory;
}
.body_container_Mob .best_inter .lower .slider::-webkit-scrollbar{
    display: none;
}
.body_container_Mob .best_inter .best_container{
    min-width: 300px;
    height: 350px;
    padding: 15px;
    scroll-snap-align: center;
}
.body_container_Mob .best_inter .best_container .box{
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgba(100, 100, 100, 0.2);
    overflow: hidden;
    transition: 0.2s;
}
.body_container_Mob .best_inter .best_container .box .box_upper{
    width:100%;
    height: calc(100% - 100px);
    background-color: grey;
}
.body_container_Mob .best_inter .best_container .box .box_upper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.body_container_Mob .best_inter .best_container .box .box_lower{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    padding: 20px;
}
.body_container_Mob .best_inter .best_container .box .box_lower .title{
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
}
.body_container_Mob .best_inter .best_container .box .box_lower .sub{
    font-size: 14px;
    font-weight: 530;
    color: #777;
}
.body_container_Mob .review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 600px;
    margin-bottom: 50px;
}
.body_container_Mob .review .upper{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width:100%;
    height:50px;
}
.body_container_Mob .review .upper span{
    color:#000;
    font-size: 20px;
    font-weight: 600;
}
.body_container_Mob .review .lower{
    display: flex;
    width:100%;
    height:calc(100% - 50px);
}
.body_container_Mob .review .lower .slider{
    display: flex;
    align-items: center;
    overflow: auto;
    width:100%;
    height:100%;
    scroll-snap-type: x mandatory;
}
.body_container_Mob .review .lower .slider::-webkit-scrollbar{
    display: none;
}
.body_container_Mob .review .lower .slider .reviewBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px 20px;
    min-width: 320px;
    height: 500px;
    box-shadow: 1px 1px 4px 2px rgba(100, 100, 100, 0.2);
    scroll-snap-align: center;
    margin: 10px;
}
.body_container_Mob .review .lower .slider .reviewBox .top{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50px;
}
.body_container_Mob .review .lower .slider .reviewBox .top .star{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    margin-right: 10px;
}
.body_container_Mob .review .lower .slider .reviewBox .top .star .block{
    position: absolute;
    top:0;
    right:0;
    width: 0;
    height: 100%;
    background-color: #fff;
    z-index: 2;
}
.body_container_Mob .review .lower .slider .reviewBox .top .star img{
    width:40px;
    height:40px;
    object-fit: fill;
    filter: invert(1);
}
.body_container_Mob .review .lower .slider .reviewBox .top span{
    font-size: 20px;
    font-weight: 700;
    color:#000;
}
.body_container_Mob .review .lower .slider .reviewBox .text{
    width: 100%;
    padding: 15px 0;
}
.body_container_Mob .review .lower .slider .reviewBox .text pre{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    line-height: 160%;
    white-space: pre-line;
}
.body_container_Mob .review .lower .slider .reviewBox .bot{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 70px;
}
.body_container_Mob .review .lower .slider .reviewBox .bot .address{
    font-size: 18px;
    font-weight: 600;
    color:#000;
}
.body_container_Mob .review .lower .slider .reviewBox .bot .address span{
    font-size: 16px;
    font-weight: 500;
}
.body_container_Mob .review .lower .slider .reviewBox .bot .under{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.body_container_Mob .review .lower .slider .reviewBox .bot .under .comBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    background-color: #348DEE;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin-right: 10px;
}
.body_container_Mob .review .lower .slider .reviewBox .bot .under span{
    color:#348DEE;
    font-size: 16px;
    font-weight: 530;
}
.body_container_Mob .style{
    width: 100%;
    height: 600px;
    margin-bottom: 20px;
}
.body_container_Mob .style .upper{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height:80px;
    padding: 0 5px;
}
.body_container_Mob .style .upper span{
    color:#000;
    font-size: 16px;
    font-weight: 530;
    margin-right: 5px;
    white-space: nowrap;
}
.body_container_Mob .style .upper .sub{
    margin-top: 7px;
    font-size: 14px;
    font-weight: 530;
    color:#777;
}
.body_container_Mob .style .upper .left,
.body_container_Mob .style .upper .right {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.body_container_Mob .style .upper .left{
    flex-direction: column;
    align-items: start;
}
.body_container_Mob .style .upper img{
    width: 20px;
    height: 20px;
    object-fit: fill;
}
.body_container_Mob .style .lower{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 80px);
}
.body_container_Mob .style .lower .slider{
    display:flex;
    width: 100%;
    height: 100%;
    overflow: auto;
    scroll-snap-type: x mandatory;
    padding: 10px 0;
}
.body_container_Mob .style .lower .slider::-webkit-scrollbar{
    display: none;
}
.body_container_Mob .style .lower .slider .style_container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    scroll-snap-align: center;
}
.body_container_Mob .style .lower .slider .style_container .box{
    width: 250px;
    height: 75%;
    border-radius: 15px;
    background-color: grey;
    overflow: hidden;
}
.body_container_Mob .style .lower .slider .style_container .box img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.body_container_Mob .style .lower .slider .style_container .text{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 250px;
    height: 25%;
    margin-top: 20px;
}
.body_container_Mob .style .lower .slider .style_container .text .txt{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 9px;
}
.body_container_Mob .style .lower .slider .style_container .text .fir .fir_title{
    color: #348DEE;
    font-size: 16px;
    font-weight: 530;
}
.body_container_Mob .style .lower .slider .style_container .text .fir .fir_box{
    text-align: center;
    width: auto;
    height: 100%;
    border-radius: 6px;
    margin-left: 10px;
    padding: 2px 3px;
    background-color: #4A79F4;
}
.body_container_Mob .style .lower .slider .style_container .text .fir .fir_box .fir_sub{
    color: #fff;
    font-size: 12px;
    font-weight: 530;
    white-space: nowrap;
}
.body_container_Mob .style .lower .slider .style_container .text .sec{
    color:#000;
    font-size: 18px;
    font-weight: 600;
}
.body_container_Mob .style .lower .slider .style_container .text .thr .thr_img{
    width: 23px;
    height: 23px;
    margin: 0 8px;
}
.body_container_Mob .style .lower .slider .style_container .text .thr .thr_img img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.body_container_Mob .style .lower .slider .style_container .text .for{
    color:#000;
    font-size: 14px;
    font-weight: 550;
}
.body_container_Mob .free{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: #348DEE;
    margin: 80px 0 0 0;
}
.body_container_Mob .free a{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
.body_container_Mob .free .free_text{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-right: 20px;
}
.body_container_Mob .free .free_text span{
    color: #fff;
    font-size: 20px;
    font-weight: 530;
}
.body_container_Mob .free .free_text .text_lower{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 8px 0 0 10px;
}
.body_container_Mob .free .free_text .text_lower .lower_text{
    font-size: 16px;
    margin-right: 8px;
}
.body_container_Mob .free .free_text .text_lower .lower_img{
    width: 30px;
    height: 30px;
}
.body_container_Mob .free .free_text .text_lower .lower_img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.body_container_Mob .free .free_img{
    width: 100px;
    height: 100px;
}
.body_container_Mob .free .free_img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.body_container_Mob .insta{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 650px;
}
.body_container_Mob .insta .title{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.body_container_Mob .insta .title .icon{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.body_container_Mob .insta .title .icon img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    filter: invert(1);
}
.body_container_Mob .insta .title span{
    font-size: 20px;
    font-weight: 600;
    color:#000;
    letter-spacing: -1px;
}
.body_container_Mob .insta .sub{
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 520;
    color:#000;
    margin: 6px 0 20px 0;
    line-height: 160%;
}
.body_container_Mob .insta .follow{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 30px;
}
.body_container_Mob .insta .follow .follow_img{
    width: 50px;
    height: 50px;
    margin-right: 25px;
}
.body_container_Mob .insta .follow .follow_img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.body_container_Mob .insta .follow span{
    font-size: 26px;
    font-weight: 700;
    color:#000;
}
.body_container_Mob .insta .imgs{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width:300px;
    height: 300px;
}
.body_container_Mob .insta .imgs a{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.body_container_Mob .insta .imgs .a{
    width: 150px;
    height: 150px;
    background-color: #348DEE;
}
.body_container_Mob .insta .imgs .b{
    width: 150px;
    height: 150px;
    background-color: #464646;
}
.body_container_Mob .findA{
    width: 100%;
    height: 100%;
}
.body_container_Mob .find{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #374262;
}
.body_container_Mob .find img{
    width:100%;
    object-fit: cover;
}
.menu_slide_container{
    display: none;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
}
.menu_slide{
    display: flex;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: #348DEE;
    transition: 0.4s;
    z-index: 6;
    filter: invert(0);
}
.menu_slide .close_btn{
    display:flex;
    position: absolute;
    flex-direction: column;
    top:10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: grey;
}
@media (min-width: 600px) {
    .body_container_Mob .banner .img_container .bannerBox img{
        width: 100%;
        height: 400px;
        object-fit: fill;
    }
}