*{
    font-family:'Nanum Gothic',sans-serif;
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
.body_container{
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    height: 100%;
    background-color: #fff;
}
.body_container .underline{
    width:100%;
    height:1px;
    background-color: #f1f1f5;
}
.body_container .container{
    max-width: 1024px;
    width:100%;
    height:100%;
}
.body_container .banner{
    width:100%;
    margin-bottom: 50px;
}
.body_container .banner .img_container{
    display: flex;
    overflow: hidden;
    width:100%;
    height: 100%;
    filter: invert(0);
}
.body_container .banner .img_container .bannerBox{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    max-height: 400px;
    float: left;
    font-size: 100px;
    transition: 0.6s;
}
.body_container .banner .img_container .bannerBox:after{
    content: "";
    display: block;
    padding-bottom: 40%;
}
.body_container .banner .img_container .bannerBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.body_container .banner .img_container .turn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:calc(50% - 25px);
    width:70px;
    height:70px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 35px;
    overflow: hidden;
    cursor: pointer;
    z-index: 2;
}
.body_container .banner .img_container .turn img{
    width:60%;
    height:60%;
    object-fit: fill;
    filter: invert(0.4);
}
.body_container .banner .img_container .before{
    left: 60px;
}
.body_container .banner .img_container .before img{
    transform: rotate(180deg);
}
.body_container .banner .img_container .after{
    right: 60px;
}
.body_container .area_part{
    display: flex;
    flex-direction: column;
    height: 240px;
}
.body_container .area_part .upper{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height:60px;
    padding-left: 10px;
}
.body_container .area_part .upper span{
    color:#000;
    font-size: 14px;
    font-weight: 530;
}
.body_container .area_part .lower{
    display: flex;
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
}
.body_container .area_part .lower .slider{
    display: flex;
    overflow: auto;
    flex-wrap: nowrap;
}
.body_container .area_part .lower .slider::-webkit-scrollbar{
    display:none;
}
.body_container .area_part .lower .slider .area{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 150px;
    height: 100%;
    z-index:0;
    text-decoration: none;
    color:#000;
    margin: 0 7px;
}
.body_container .area_part .lower .slider .area div{
    width:100px;
    height:100px;
    border-radius: 120px;
    overflow: hidden;
}
.body_container .area_part .lower .slider .area div img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.body_container .area_part .lower .slider .area span{
    font-size: 12px;
    font-weight: 530;
    margin-top: 10px;
}
.body_container .partner_info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}
.body_container .partner_info .upper{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height:50px;
    padding: 0 30px 0 20px;
}
.body_container .partner_info .upper span{
    color:#000;
    font-size: 16px;
    font-weight: 530;
    margin-right: 8px;
    white-space: nowrap;
}
.body_container .partner_info .upper div{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.body_container .partner_info .upper div a{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:#000;
    cursor: pointer;
}
.body_container .partner_info .upper img{
    width: 20px;
    height: 20px;
    object-fit: fill;
}
.body_container .partner_info .lower{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
}
/*.body_container .partner_info .lower .slider{*/
/*    display:flex;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    overflow: auto;*/
/*    padding: 10px 0;*/
/*}*/
/*.body_container .partner_info .lower .slider::-webkit-scrollbar{*/
/*    display:none;*/
/*}*/
.body_container .partner_info .partner_info_container{
    display: flex;
    padding: 0 14px 0 14px;
    flex-wrap: wrap;
    color:#000;
    margin: 5px 0 8px 0;
}
.body_container .partner_info .partner_info_container .box{
    display: flex;
    position: relative;
    flex-direction: column;
    width:100%;
    overflow: hidden;
}
.body_container .partner_info .partner_info_container .box:after{
    content: "";
    display: block;
}
.body_container .partner_info .partner_info_container .box .box_upper{
    position: absolute;
    width:100%;
    overflow: hidden;
}
.body_container .partner_info .partner_info_container .box .box_upper .imgBox{
    display: flex;
    position: relative;
    flex-direction: row;
    overflow: hidden;
}
.body_container .partner_info .partner_info_container .box .box_upper .imgBox:after{
    content: "";
    display: block;
}
.body_container .partner_info .partner_info_container .box .box_upper .imgBox img{
    object-fit: cover;
}
.body_container .partner_info .partner_info_container .box .box_lower{
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 7px;
}
.body_container .partner_info .partner_info_container .box .box_lower .txt{
    margin-bottom: 7px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.body_container .partner_info .partner_info_container .box .box_lower .fir .fir_title{
    color: #000;
    font-size: 15px;
    font-weight: 530;
}
.body_container .partner_info .partner_info_container .box .box_lower .fir .fir_box{
    text-align: center;
    width: auto;
    height: 100%;
    border-radius: 6px;
    margin-left: 10px;
    padding: 2px 3px;
    background-color: #4A79F4;
}
.body_container .partner_info .partner_info_container .box .box_lower .fir .fir_box .fir_sub{
    color: #fff;
    font-size: 12px;
    font-weight: 530;
    white-space: nowrap;
}
.body_container .partner_info .partner_info_container .box .box_lower .thr .title_sub{
    margin-left: 2px;
    font-size: 12px;
    font-weight: 500;
}
.body_container .partner_info .moreInfo{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 14px;
    background-color: #D6E8FC;
    margin: 15px 0 20px 0;
    cursor: pointer;
}
/*.body_container .partner_info .partner_info_container .box .box_lower .thr .thr_img{*/
/*    width: 23px;*/
/*    height: 23px;*/
/*    margin: 0 8px;*/
/*}*/
/*.body_container .partner_info .partner_info_container .box .box_lower .thr .thr_img img{*/
/*    width:100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*}*/
/*.body_container .partner_info .partner_info_container .box .box_lower .title{*/
/*    font-size: 16px;*/
/*    font-weight: 600;*/
/*    color: #000;*/
/*    margin-bottom: 10px;*/
/*}*/
/*.body_container .partner_info .partner_info_container .box .box_lower .sub{*/
/*    font-size: 14px;*/
/*    font-weight: 530;*/
/*    color: #777;*/
/*}*/
@media (max-width: 370px){
    .body_container .partner_info .partner_info_container .box .box_lower .txt{
        margin-bottom: 3px;
    }
}





.body_container .review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
}
.body_container .review .upper{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width:100%;
    height:80px;
    padding: 0 20px;
}
.body_container .review .upper span{
    color:#000;
    font-size: 25px;
    font-weight: 600;
}
.body_container .review .lower{
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
}
.body_container .review .lower .boxes{
    display: flex;
    align-items: center;
    overflow: hidden;
    width:100%;
    min-height: 410px;
    height: 100%;
}
.body_container .review .lower .boxes .reviewBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    margin: 0 30px;
    padding: 30px;
    float: left;
    transition: 0.6s;
}
.body_container .review .lower .boxes .reviewBox .top{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50px;
}
.body_container .review .lower .boxes .reviewBox .top .star{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    margin-right: 10px;
}
.body_container .review .lower .boxes .reviewBox .top .star .block{
    position: absolute;
    top:0;
    right:0;
    width: 0;
    height: 100%;
    background-color: #fff;
    z-index: 2;
}
.body_container .review .lower .boxes .reviewBox .top .star img{
    width:40px;
    height:40px;
    object-fit: fill;
    filter: invert(1);
}
.body_container .review .lower .boxes .reviewBox .top span{
    font-size: 20px;
    font-weight: 700;
    color:#000;
}
.body_container .review .lower .boxes .reviewBox .text{
    width: 100%;
    padding: 15px 0;
}
.body_container .review .lower .boxes .main .text{
    height: 220px;
    transition: 0.6s;
}
.body_container .review .lower .boxes .sub .text{
    height: 220px;
    transition: 0.6s;
    overflow: hidden;
}
.body_container .review .lower .boxes .reviewBox .text pre{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    line-height: 140%;
    white-space: pre-wrap;
}
.body_container .review .lower .boxes .reviewBox .bot{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 70px;
}
.body_container .review .lower .boxes .reviewBox .bot .address{
    font-size: 18px;
    font-weight: 600;
    color:#000;
}
.body_container .review .lower .boxes .reviewBox .bot .address span{
    font-size: 16px;
    font-weight: 500;
}
.body_container .review .lower .boxes .reviewBox .bot .under{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.body_container .review .lower .boxes .reviewBox .bot .under .comBox{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    width: 80px;
    height: 30px;
    border-radius: 4px;
    background-color: #348DEE;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin-right: 10px;
}
.body_container .review .lower .boxes .reviewBox .bot .under span{
    color:#348DEE;
    font-size: 16px;
    font-weight: 530;
}
.body_container .review .lower .boxes .reviewBox{
    min-width: 600px;
}
.body_container .review .lower .boxes .main{
    height: 400px;
    box-shadow: 0 0 2px 1px rgba(100, 100, 100, 0.2);
}
.body_container .review .lower .boxes .sub{
    height: 300px;
    box-shadow: 0 0 2px 1px rgba(100, 100, 100, 0.2);
}
.body_container .review .lower .btn_container{
    display: flex;
    justify-content: center;
    width:100%;
    height: 130px;
    padding-top: 20px;
}
.body_container .review .lower .btn_container div img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.body_container .review .lower .btn_container .left img{
    transform: rotate(180deg);
}
.body_container .review .lower .btn_container .left{
    width: 40px;
    height: 40px;
    margin-right: 60px;
}
.body_container .review .lower .btn_container .right{
    width: 40px;
    height: 40px;
}
.body_container .style{
    width: 100%;
    height: 600px;
    margin-bottom: 20px;
}
.body_container .style .upper{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height:50px;
    padding: 0 5px;
}
.body_container .style .upper span{
    color:#000;
    font-size: 15px;
    font-weight: 530;
    margin-right: 5px;
    white-space: nowrap;
}
.body_container .style .upper .sub{
    margin-top: 7px;
    font-size: 13px;
    font-weight: 530;
    color:#777;
}
.body_container .style .upper .left,
.body_container .style .upper .right {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.body_container .style .upper .right span{
    font-size: 12px;
}
.body_container .style .upper .left{
    flex-direction: column;
    align-items: start;
}
.body_container .style .upper img{
    width: 15px;
    height: 15px;
    object-fit: fill;
}
.body_container .style .lower{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 80px);
}
.body_container .style .lower .slider{
    display:flex;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 10px 0;
}
.body_container .style .lower .slider::-webkit-scrollbar{
    display: none;
}
.body_container .style .lower .slider .style_container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color:#000;
}
.body_container .style .lower .slider .style_container .box{
    width: 250px;
    height: 75%;
    border-radius: 15px;
    overflow: hidden;
}
.body_container .style .lower .slider .style_container .box img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.body_container .style .lower .slider .style_container .text{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 250px;
    height: 25%;
    margin-top: 20px;
}
.body_container .style .lower .slider .style_container .text .txt{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 9px;
}
.body_container .style .lower .slider .style_container .text .fir .fir_title{
    color: #348DEE;
    font-size: 14px;
    font-weight: 530;
}
.body_container .style .lower .slider .style_container .text .fir .fir_box{
    text-align: center;
    width: auto;
    height: 100%;
    border-radius: 6px;
    margin-left: 10px;
    padding: 2px 3px;
    background-color: #4A79F4;
}
.body_container .style .lower .slider .style_container .text .fir .fir_box .fir_sub{
    color: #fff;
    font-size: 12px;
    font-weight: 530;
    white-space: nowrap;
}
.body_container .style .lower .slider .style_container .text .sec{
    color:#000;
    font-size: 16px;
    font-weight: 600;
}
.body_container .style .lower .slider .style_container .text .thr .thr_img{
    width: 23px;
    height: 23px;
    margin: 0 8px;
}
.body_container .style .lower .slider .style_container .text .thr .thr_img img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.body_container .style .lower .slider .style_container .text .for{
    color:#000;
    font-size: 14px;
    font-weight: 500;
}

.body_container .style .lower .style_container .text .fiv{
    display: flex;
    width: 100%;
}
.body_container .style .lower .style_container .text .fiv span{
    font-size: 18px;
    font-weight: 700;
    color:#000;
}
.body_container .style .lower .style_container .text .fiv .sidebar{
    width:2px;
    height: 18px;
    border-radius: 4px;
    background-color: #e1e1e5;
    margin: 0 15px;
}
.body_container .free{
    width: 100%;
    height: 150px;
    background-color: #348DEE;
    margin: 80px 0 0 0;
}
.body_container .free a{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
.body_container .free .free_text{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-right: 50px;
}
.body_container .free .free_text span{
    color: #fff;
    font-size: 22px;
    font-weight: 530;
    margin: 8px;
}
.body_container .free .free_text .text_lower{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 20px;
}
.body_container .free .free_text .text_lower .lower_text{
    font-size: 18px;
    margin-right: 5px;
}
.body_container .free .free_text .text_lower .lower_img{
    width: 30px;
    height: 30px;
}
.body_container .free .free_text .text_lower .lower_img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.body_container .free .free_img{
    width: 150px;
    height: 150px;
}
.body_container .free .free_img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.body_container .insta{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 700px;
}
.body_container .insta .title{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.body_container .insta .title .icon{
    width: 70px;
    height: 70px;
    margin-right: 5px;
}
.body_container .insta .title .icon img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.body_container .insta .title span{
    font-size: 20px;
    font-weight: 600;
    color:#000;
    letter-spacing: -1px;
}
.body_container .insta .sub{
    font-size: 16px;
    font-weight: 520;
    color:#000;
    margin: 4px 0 20px 12px;
    line-height: 23px;
}
.body_container .insta .follow{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 25px 0 5px 0;
}
.body_container .insta .follow .follow_img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.body_container .insta .follow .follow_img img{
    width:100%;
    height: 100%;
    object-fit: fill;
}
.body_container .insta .follow span{
    font-size: 26px;
    font-weight: 700;
    color:#000;
}
.body_container .insta .imgs{
    width:600px;
    height: 300px;
}
.body_container .insta .imgs a{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.body_container .insta .imgs .a{
    width: 150px;
    height: 150px;
    background-color: #348DEE;
}
.body_container .insta .imgs .b{
    width: 150px;
    height: 150px;
    background-color: #464646;
}
.body_container .insta img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.body_container .findA{
    width: 100%;
    height: 100%;
}
.body_container .find{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #374262;
}
.body_container .find img{
    height: 150px;
    object-fit: cover;
}
@media (min-width: 701px) and (max-width: 830px) {
    .style .lower{
        justify-content: left !important;
    }
    .body_container .partner_info .partner_info_container .box .box_upper{
        height: 70%;
    }
    .body_container .partner_info .partner_info_container .box .box_lower{
        top:70%;
        height: 30%;
    }
}
@media (min-width: 701px) {
    .upper_fixed{
        width: 100%;
        height: 61px;
        background: #fff;
    }
    .area_part .upper{
        padding-left: 50px !important;
    }
    .area_part .upper span{
        font-size: 16px !important;
    }
    .style .upper{
        padding: 0 80px 0 50px !important;
    }
    .style .upper .left span{
        font-size: 16px !important;
    }
    .style .upper .right span{
        font-size: 16px !important;
    }
    .style .upper .right img{
        width: 20px;
        height: 20px;
    }
    .style .lower .slider{
        justify-content: center;
    }
    .style .lower .slider .style_container:nth-child(n+4){
        display: none !important;
    }
    .partner_info .lower .slider{
        flex-wrap: wrap;
    }
    .partner_info .partner_info_container{
/*        height:50%;*/
        max-width: 400px;
        width: 50%;
    }
    .body_container .partner_info .partner_info_container .box{
        border-radius: 4px;
        box-shadow: 0 0 2px 1px rgba(100, 100, 100, 0.2);
    }
    .body_container .partner_info .partner_info_container .box .box_upper .secondImg{
        display: none;
    }
    .body_container .partner_info .partner_info_container .box .box_lower{
        top:70%;
        height: 30%;
    }
    .body_container .partner_info .partner_info_container .box .box_upper{
        height: 70%;
    }
    .body_container .partner_info .partner_info_container .box:after{
        padding-bottom: 70%;
    }
    .body_container .partner_info .partner_info_container .box .box_upper .imgBox img{
        width: 100%;
    }
    .body_container .partner_info .partner_info_container .box .box_upper .imgBox{
        width: 100%;
    }
}
@media (max-width: 700px) {
    .upper_fixed{
        width: 100%;
        height: 102px;
        background: #fff;
    }
    .partner_info .lower .slider{
        flex-wrap: nowrap;
    }
    .body_container .area_part .upper{
        padding: 0 0 0 20px;
    }
    .body_container .partner_info .upper{
        padding: 0 20px;
    }
    .body_container .partner_info .lower{
        justify-content: center;
    }
    .body_container .partner_info .partner_info_container{
        width: 100% !important;
        border: solid;
        border-width: 1px 0 0 0;
        border-color: #f1f1f5;
    }
    .body_container .partner_info .partner_info_container .box{
        flex-direction: column-reverse;
    }
    .partner_info .partner_info_container{
        padding: 0 14px 0 14px !important;
        min-width: 340px !important;
        width: 340px !important;
        height:100%;
    }
    .body_container .partner_info .partner_info_container .box .box_upper{
        top:30%;
        height: 70%;
        display: flex;
        justify-content: space-around;
    }
    .body_container .partner_info .partner_info_container .box .box_lower{
        top:0;
        height: 30%;
    }
    .body_container .partner_info .partner_info_container .box:after{
        padding-bottom: 50%;
    }
    .body_container .partner_info .partner_info_container .box .box_upper .imgBox{
        border-radius: 4px;
        width: 45%;
    }
    .body_container .partner_info .partner_info_container .box .box_upper .imgBox img{
        width: 100%;

    }
    .body_container .partner_info .partner_info_container .box .box_lower{
        top:0;
    }
    .body_container .style .upper{
        padding: 0 20px;
    }
    .body_container .free .free_text{
        margin: 0 10px;
    }
    .body_container .free .free_text span{
        font-size: 18px;
        margin: 4px;
        white-space: nowrap;
    }
    .body_container .free .free_text .text_lower{
        margin-left: 10px;
    }
    .body_container .free .free_text .text_lower .lower_text{
        font-size: 14px;
        margin-right: 5px;
    }
    .body_container .free .free_text .text_lower .lower_img{
        width: 20px;
        height: 20px;
    }
    .body_container .insta .sub{
        margin: 4px 10px 20px 15px;
    }
    .body_container .insta .imgs{
        width:300px;
        height: 300px;
    }
    .body_container .insta .imgs .b{
        display: none;
    }
    .body_container .find img{
        width: 100%;
        height: auto;
    }
    .banner .turn{
        display: none !important;
    }
    .body_container .review .lower .boxes{
        min-height: 460px;
    }
    .body_container .review .lower .boxes .reviewBox{
        min-width: 340px;
    }
    .body_container .review .lower .boxes .main{
        height: 450px;
        box-shadow: 1px 1px 4px 2px rgba(100, 100, 100, 0.2);
    }
    .body_container .review .lower .boxes .sub{
        height: 450px;
        box-shadow: 1px 1px 4px 2px rgba(100, 100, 100, 0.2);
    }
}
@media (max-width: 400px) {
    .partner_info .upper span{
        font-size: 14px !important;
    }
    .partner_info .upper img{
        width: 15px !important;
        height: 15px !important;
    }
}