.img_contain img{
    width: 100%;
}
#land_img6,#land_img7,#land_img6-1,#land_img7-1 {
    background-color: #a2c0fe;
    object-fit: contain;
    cursor: pointer;
}
#land_img1,#land_img3{
    background-color: #6396ff;
    object-fit: contain
}
#land_img2{
    background-color: #a2c0fe;
    object-fit: contain
}

@media (min-width: 900px){
    .img_contain{
        text-align: center;
    }
    .img_contain img{
        width: 900px;
    }
}