.img_contain{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}
.img_contain img{
    width: 100%;
}
#land_img6,#land_img7,#land_img6-1,#land_img7-1 {
    background-color: #a2c0fe;
    cursor: pointer;
}
#land_img1,#land_img3{
    background-color: #6396ff;
}
#land_img2{
    background-color: #a2c0fe;
}

@media (min-width: 900px){
    .img_contain{
        text-align: center;
    }
    .img_contain img{
        width: 900px;
    }
}