@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css?display=swap);
@font-face{
    font-family:'Nanum Gothic',sans-serif;
}
*{
    font-family:'Nanum Gothic',sans-serif;
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.body_container{
    display: flex;
    position:relative;
    flex-direction: column;
    width:100%;
    height:100%;
}
.body_container .body_main{
    display:flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
    min-height: calc(100vh - 250px);
    height: 100%;
    background-color: #fafafa;
    padding: 20px;
}
.body_container .body_main .title{
    width: 100%;
    padding-left: 10px;
    margin-bottom: 5px;
    height: 40px;
}
.body_container .body_main .body{
    width:100%;
    padding: 10px;
    min-height: 400px;
    margin-bottom: 20px;
}
.body_container .body_main button{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: #4A79F4;
    outline: none;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.body_container .body_main button span{
    color: #fafafa;
    font-size: 20px;
    font-weight: 600;
}