@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css?display=swap);
@font-face{
    font-family:'Nanum Gothic',sans-serif;
}
*{
    font-family:'Nanum Gothic',sans-serif;
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.body_container{
    display: flex;
    position:relative;
    flex-direction: column;
    width:100%;
    height:100%;
}
.body_container .body_main{
    display:flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
    min-height: calc(100vh - 250px);
    height: 100%;
    background-color: #f5f5f5;
}
.body_container .body_main .main_header{
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width:80%;
    height: 90px;
    padding: 10px 0px;
}
.body_container .body_main .main_header .left_container{
    width:100%;
    height:100%;
    padding: 15px;
}
.body_container .body_main .main_header .left_container .left_box{
    display:flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    background-color: #FAFAFA;
    border-radius: 5px;
    border:solid;
    border-width: 1px;
    border-color: #ddd;
}
.body_container .body_main .main_header .left_container .left_box .img_container{
    min-width: 30px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.body_container .body_main .main_header .left_container .left_box .img_container img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.body_container .body_main .main_header .left_container .left_box .text_container{
    width:100%;
    height:100%;
    background-color: #3cb2ff;
}
.body_container .body_main .main_header .left_container .left_box .text_container .text_input{
    width:100%;
    height:100%;
    font-size: 15px;
    font-weight: 550;
    color: #111;
    outline:none;
    border:none;
    background-color: #FAFAFA;
}
.body_container .body_main .main_header .left_container .left_box .text_container .text_input::placeholder{
    font-size: 14px;
    font-weight: 550;
    color: #999;
    background-color: #FAFAFA;
}
.body_container .body_main .main_header .right_container{
    width: 200px;
    height: 100%;
    padding: 15px;
}
.body_container .body_main .main_header .right_container .right_box{
    display:flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    background-color: #FAFAFA;
    border-radius: 5px;
    border:solid;
    border-width: 1px;
    border-color: #ddd;
}
.body_container .body_main .main_header .right_container .right_box .text_container{
}
.body_container .body_main .main_header .right_container .right_box .text_container span{
    font-size: 14px;
    font-weight: 550;
    color: #999;
    white-space: nowrap;
}
.body_container .body_main .main_header .right_container .right_box .img_container{
    width: 30px;
    height: 30px;
}
.body_container .body_main .main_header .right_container .right_box .img_container img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.body_container .body_main .main_container{
    display:flex;
    position: relative;
    width: 80%;
    height:100%;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.body_container .body_main .main_container .date_container{
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
}
.body_container .body_main .main_container .date_container span{
    font-size: 16px;
    font-weight: 520;
    color: #666666;
}
.body_container .body_main .main_container .box_container{
    width:100%;
    height:100%;
    padding: 20px;
}
.body_container .body_main .main_container .box_container .main_box{
    display:flex;
    position: relative;
    flex-direction: column;
    width:100%;
    height: 100%;
    background-color: #fcfcfc;
    border-radius: 10px;
    border:solid;
    border-width: 1px;
    border-color: #ddd;
    overflow: hidden;
    border-bottom: none;
}
.body_container .body_main .main_container .box_container .main_box .text_container{
    width: 100%;
    height: 100%;
    background-color: #fcfcfc;
}
.body_container .body_main .main_container .box_container .main_box .text_container .text{
    display: flex;
    position: relative;
    align-items: center;
    width:100%;
    height: 25%;
    padding: 10px 15px;
}
.body_container .body_main .main_container .box_container .main_box .text_container .text a{
    text-decoration: none;
}
.body_container .body_main .main_container .box_container .main_box .text_container .text span{
    font-size: 14px;
}
.body_container .body_main .main_container .box_container .main_box .text_container .text .fir,
.body_container .body_main .main_container .box_container .main_box .text_container .text .thr{
    color:#555;
    font-weight: 600;
}
.body_container .body_main .main_container .box_container .main_box .text_container .text .sec_fir{
    color: #253880;
    font-size: 16px;
    font-weight: 800;
    margin-right: 10px;
}
.body_container .body_main .main_container .box_container .main_box .text_container .text .sec_sec{
    color: #000;
    font-size: 15px;
    font-weight: 800;
}
.body_container .body_main .main_container .box_container .main_box .text_container .text .for{
    color: rgba(74, 121, 244, 0.8);
    font-size: 15px;
    font-weight: 600;
}
.body_container .body_main .main_container .box_container .main_box .text_container .text .fiv{
    width: 100%;
    height: 30px;
    border:none;
    color: #000;
    font-size: 17px;
    font-weight: 500;
    outline-color: #ddd;
    outline-width: 0.5px;
    padding: 0px 5px;
}
.body_container .body_main .main_container .box_container .main_box .text_container .text .fiv::placeholder{
    color: rgba(74, 121, 244, 0.8);
    font-size: 15px;
    font-weight: 600;
}
.body_container .body_main .main_container .box_container .main_box .text_container .text .fiv_btn{
    width: 150px;
    height: 30px;
    margin-left: 30px;
    border:none;
    outline:none;
    border-bottom: solid;
    border-color: #4A79F4;
    border-width: 2px;
    color:#000;
    font-weight: 700;
    font-size: 18px;
    background: none;
}
.body_container .body_main .main_container .box_container .main_box .text_container .text .fiv_btn:hover{
    cursor: pointer;
    background-color: #cad3f8;
}
.body_container .body_main .main_container .box_container .main_box .under_container {
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #fcfcfc;
}
.body_container .body_main .main_container .box_container .main_box .under_container .side_container{
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    height: 100%;
    border:solid;
    border-width: 1px;
    border-color: #ddd;
    border-right: none;
    cursor: pointer;
}
.body_container .body_main .main_container .box_container .main_box .under_container .side_container .img_container{
    width: 30px;
    height: 30px;
}
.body_container .body_main .main_container .box_container .main_box .under_container .side_container .img_container img{
    width:100%;
    height: 100%;
    object-fit: fill;
}
.body_container .body_main .main_container .box_container .main_box .under_container .side_container .text_container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width:50px;
    height: 30px;
}
.body_container .body_main .main_container .box_container .main_box .under_container .side_container .text_container span{
    font-size: 16px;
    font-weight: 500;
    color: #555;
    white-space: nowrap;
}